############################################
# macOS
############################################
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
.fseventsd


############################################
# R
############################################
.Rhistory
.Rapp.history
.Ruserdata
.Rproj.user/
.Rprofile


############################################
# analyses results 
# (can be reproduced by running the scripts in 04_results)
############################################
04_results/rds_res/*.rds

.positai
